<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zerostar.forgetmenotnext" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.ForgetMeNot"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".activities.ForgetMeNot"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainScreen" >
        </activity>
        <activity android:name=".activities.Giardino" >
        </activity>
        <activity android:name=".activities.DataBase" >
        </activity>
        <activity android:name=".activities.NuovaPianta" >
        </activity>
        <activity android:name=".activities.LoginSignup" >
        </activity>
        <activity android:name=".activities.Signup" >
        </activity>
        <activity
            android:name=".activities.ShowFiltro"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity android:name=".activities.VisualizzaPianta" >
        </activity>
        <activity android:name=".activities.VisualizzaMyPianta" >
        </activity>
    </application>

</manifest>
