<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zerostar.forgetmenotnext" >



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
      GET_ACCOUNTS is only required for GCM on devices running Android lower than
      4.0.4. You may leave out this permission if you are targetting 4.0.4+.
    -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->


    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.zerostar.forgetmenotnext.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.zerostar.forgetmenotnext.permission.C2D_MESSAGE" />


    <application
        android:name=".application.ForgetMeNot"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
         >
        <activity
            android:name=".activities.ForgetMeNot"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainScreen" >
        </activity>
        <activity android:name=".activities.Giardino" >
        </activity>
        <activity android:name=".activities.DataBase" >
        </activity>
        <activity android:name=".activities.NuovaPianta" >
        </activity>
        <activity android:name=".activities.LoginSignup" >
        </activity>
        <activity android:name=".activities.Signup" >
        </activity>
        <activity
            android:name=".activities.ShowFiltro"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity android:name=".activities.VisualizzaPianta" >
        </activity>
        <activity android:name=".activities.VisualizzaMyPianta" >
        </activity>
        <activity
            android:name=".activities.MenuSensore"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

<!--                   IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.zerostar.forgetmenotnext" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ShowElimina"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
        </activity>
    </application>

</manifest>
